<div id="modal" class  = "hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de coleta</h1>
            <a href = "/">Voltar</a>
        </div>
            <form action = "/procurar">
                <label for = "search">Cidade</label>
                    <div class = "search field">
                        <input type = "text" placeholder = "Cidade" required>
                        <button type = "submit" class  = "pesquisar">Pesquisar</button>
                    </div>
            </form>
        </div>
    </div>